In [50]:
import numpy as np
import pandas as pd

In [51]:
df_stations = pd.DataFrame(pd.read_csv('predicted_stations.csv'))
df_vehicles = pd.DataFrame(pd.read_csv('predicted_vehicles.csv'))
df_grid = pd.DataFrame(pd.read_csv('predicted_grid.csv'))

In [52]:
df_stations.pop("Unnamed: 0")
df_stations.pop("Year")
df_stations

    Total_Sold
0          3.0
1         13.0
2         14.0
3         19.0
4         17.0
5         32.0
6         38.0
7         64.0
8        100.0
9        147.0
10       174.0
11       300.0
12       526.0
13       359.0
14       392.0
15       425.0
16       458.0
17       491.0
18       524.0
19       557.0
20       590.0
21       623.0
22       656.0
23       689.0

In [53]:
df_vehicles.pop("Unnamed: 0")
df_vehicles.pop("Year")
df_vehicles

    Total_Sold
0          3.0
1         13.0
2         14.0
3         19.0
4         17.0
5         32.0
6         38.0
7         64.0
8        100.0
9        147.0
10       174.0
11       300.0
12       526.0
13       359.0
14       392.0
15       425.0
16       458.0
17       491.0
18       524.0
19       557.0
20       590.0
21       623.0
22       656.0
23       689.0

In [54]:
df_grid = df_grid.drop(np.arange(0,20))
df_grid = df_grid.drop(np.arange(44,82))
df_grid = df_grid.reset_index(drop=True)
df_grid

    Predicted_MWH  Year
0    1.034727e+08  2010
1    1.152626e+08  2011
2    1.168355e+08  2012
3    1.141729e+08  2013
4    1.163344e+08  2014
5    1.092875e+08  2015
6    1.140866e+08  2016
7    1.159121e+08  2017
8    1.167567e+08  2018
9    1.064636e+08  2019
10   1.161145e+08  2020
11   1.108084e+08  2021
12   1.144142e+08  2022
13   1.148259e+08  2023
14   1.152376e+08  2024
15   1.156494e+08  2025
16   1.160611e+08  2026
17   1.164728e+08  2027
18   1.168846e+08  2028
19   1.172963e+08  2029
20   1.177080e+08  2030
21   1.181198e+08  2031
22   1.185315e+08  2032
23   1.189433e+08  2033

In [55]:
#preprocessing
df = pd.concat([df_grid,df_vehicles,df_stations],axis='columns')
df

    Predicted_MWH  Year  Total_Sold  Total_Sold
0    1.034727e+08  2010         3.0         3.0
1    1.152626e+08  2011        13.0        13.0
2    1.168355e+08  2012        14.0        14.0
3    1.141729e+08  2013        19.0        19.0
4    1.163344e+08  2014        17.0        17.0
5    1.092875e+08  2015        32.0        32.0
6    1.140866e+08  2016        38.0        38.0
7    1.159121e+08  2017        64.0        64.0
8    1.167567e+08  2018       100.0       100.0
9    1.064636e+08  2019       147.0       147.0
10   1.161145e+08  2020       174.0       174.0
11   1.108084e+08  2021       300.0       300.0
12   1.144142e+08  2022       526.0       526.0
13   1.148259e+08  2023       359.0       359.0
14   1.152376e+08  2024       392.0       392.0
15   1.156494e+08  2025       425.0       425.0
16   1.160611e+08  2026       458.0       458.0
17   1.164728e+08  2027       491.0       491.0
18   1.168846e+08  2028       524.0       524.0
19   1.172963e+08  2029       557.0       557.0
20   1.177080e+08  2030       590.0       590.0
21   1.181198e+08  2031       623.0       623.0
22   1.185315e+08  2032       656.0       656.0
23   1.189433e+08  2033       689.0       689.0

In [56]:
import torch
import torch.nn as nn
from torch import optim

In [57]:
y = torch.tensor[df.Predicted_MWH, df.Total_Sold, df.Total_Stations]

AttributeError: 'DataFrame' object has no attribute 'Total_Stations'

In [ ]:
#training loop def
def training_loop(n_epochs, optimizer, model, loss_fn, t_u_train, t_u_val, t_c_train, t_c_val):

    for epoch in range(1,n_epochs +1):
        t_p_train = model(t_u_train)
        loss_train = loss_fn(t_p_train.float(), t_c_train.float())
        t_p_val = model(t_u_val)
    
        loss_val = loss_fn(t_p_val, t_c_val)

        optimizer.zero_grad()
        loss_train.backward()
        optimizer.step()

        if epoch == 1 or epoch % 50 == 0:
            print(f"Epoch {epoch}, Training loss {loss_train.item():.4f},"
                  f" Validation loss {loss_val.item():4f}")

In [ ]:
#model def and setup
seq_model = nn.Sequential(
            nn.Linear(1,8),
            nn.Tanh(),
            nn.Linear(8,1))

optimizer = optim.SGD(
    seq_model.parameters(),
    lr = 1e-5)

t_c_train = train_t_c
t_un_train = train_t_un
t_c_val = val_t_c
t_un_val = val_t_un

In [ ]:
training_loop(
    n_epochs = 200,
    optimizer = optimizer,
    model = seq_model,
    loss_fn = nn.MSELoss(),
    t_u_train = t_un_train,
    t_u_val = t_un_val,
    t_c_train = t_c_train,
    t_c_val = t_c_val)