In [269]:
import numpy as np
import pandas as pd
import torch
from sklearn.model_selection import train_test_split
import tensorflow as tf
from matplotlib import pyplot as plt
import torch.nn as nn
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from collections import OrderedDict
import torch.optim as optim
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing

import datetime
from sklearn import linear_model

In [270]:
EV_Stations = pd.DataFrame(pd.read_csv('EV_stations.csv'))
EV_Stations.head()

,Country,State,ZIP,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,ID,Open Date,Access Code,Facility Type,EV On-Site Renewable Source
0,US,AK,99801,58.354895,-134.495377,NaN,2.0,NaN,72524,2/1/15,public,UTILITY,NaN
1,US,AK,99801,58.298366,-134.404006,NaN,2.0,NaN,81601,2/1/17,public,PARKING_GARAGE,NaN
2,US,AK,99801,58.363727,-134.575550,NaN,1.0,NaN,85589,8/1/15,public,OFFICE_BLDG,HYDRO
3,US,AK,99518,61.169369,-149.911144,NaN,2.0,NaN,88609,11/30/17,public,NaN,NaN
4,US,AK,99669,60.494658,-151.045242,NaN,3.0,NaN,112694,11/27/17,public,RESTAURANT,NaN

In [271]:
EV_Stations = EV_Stations[EV_Stations['State']=='WA']
EV_Stations.head()

,Country,State,ZIP,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,ID,Open Date,Access Code,Facility Type,EV On-Site Renewable Source
51405,US,WA,98503,47.044011,-122.822404,NaN,4.0,NaN,33351,1/15/18,public,MUNI_GOV,NaN
51406,US,WA,98188,47.443377,-122.296229,36.0,NaN,NaN,33717,3/1/10,public,AIRPORT,NaN
51407,US,WA,98502,47.035421,-122.938962,2.0,NaN,NaN,35337,8/15/09,public,GROCERY,NaN
51408,US,WA,99252,47.673347,-117.388933,1.0,2.0,NaN,35620,4/15/10,public,OFFICE_BLDG,NaN
51409,US,WA,99201,47.654998,-117.425025,NaN,4.0,NaN,35621,4/15/10,public,RESTAURANT,NaN

In [272]:
features = ['ZIP', 'Latitude', 'Longitude', 'ID','Open Date']
EV_Stations = EV_Stations[features]
EV_Stations.head()

         ZIP   Latitude   Longitude     ID Open Date
51405  98503  47.044011 -122.822404  33351   1/15/18
51406  98188  47.443377 -122.296229  33717    3/1/10
51407  98502  47.035421 -122.938962  35337   8/15/09
51408  99252  47.673347 -117.388933  35620   4/15/10
51409  99201  47.654998 -117.425025  35621   4/15/10

In [273]:
EV_Stations.drop_duplicates(subset = "ID",keep = False, inplace= True) ##dropping duplicate vins
EV_Stations.head()

         ZIP   Latitude   Longitude     ID Open Date
51405  98503  47.044011 -122.822404  33351   1/15/18
51406  98188  47.443377 -122.296229  33717    3/1/10
51407  98502  47.035421 -122.938962  35337   8/15/09
51408  99252  47.673347 -117.388933  35620   4/15/10
51409  99201  47.654998 -117.425025  35621   4/15/10

In [334]:
HHMM = EV_Stations['Open Date'].values
years = []
y = EV_Stations['Open Date']

for i in range(len(HHMM)):
    years.append(HHMM[i][5:8])
    
years = str(years).replace('/', '')
len(years)
#years

array("['18', '0', '09', '10', '10', '10', '09', '08', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '12', '12', '12', '17', '17', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '12', '2', '12', '12', '12', '12', '12', '12', '13', '3', '3', '13', '14', '11', '13', '13', '13', '13', '14', '13', '4', '4', '14', '4', '4', '13', '11', '13', '14', '19', '4', '4', '14', '14', '14', '4', '14', '14', '14', '14', '14', '10', '10', '14', '14', '14', '4', '14', '14', '14', '14', '5', '12', '12', '12', '12', '2', '12', '12', '12', '12', '12', '15', '2', '5', '5', '5', '5', '5', '5', '5', '15', '5', '5', '5', '15', '15', '15', '15', '15', '19', '15', '15', '16', '16', '16', '16', '6', '6', '6', '6', '6', '6', '11', '6', '16', '16', '11', '11', '6', '6', '4', '6', '6', '6', '6', '16', '16', '16', '16', '16', '16', '6', '16', '6', '6', '16', '16', '16', '16', '16', '16', '16', '16', '16', '16', '16', '16', '16', '17', '17', '19', '6', '16', '16', '17', '7', '7', '7', '17', '17', '7', '7', '7', '17', '17', '17', '7', '7', '7', '7', '7', '7', '7', '7', '17', '17', '17', '17', '7', '17', '7', '17', '17', '17', '17', '8', '17', '17', '17', '17', '17', '17', '17', '8', '8', '8', '5', '7', '6', '7', '7', '7', '6', '6', '6', '6', '8', '8', '7', '17', '14', '17', '12', '12', '15', '16', '15', '12', '16', '15', '15', '11', '14', '12', '13', '6', '12', '7', '7', '12', '13', '18', '8', '18', '18', '18', '7', '7', '17', '0', '8', '8', '8', '20', '8', '8', '8', '16', '7', '7', '18', '18', '18', '17', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '18', '8', '8', '8', '18', '18', '18', '8', '18', '18', '18', '18', '17', '7', '3', '3', '13', '5', '18', '14', '7', '18', '8', '8', '8', '8', '18', '18', '18', '18', '18', '18', '18', '18', '4', '7', '18', '18', '18', '18', '18', '18', '18', '7', '18', '18', '18', '8', '7', '18', '18', '18', '18', '17', '18', '18', '18', '7', '6', '7', '15', '18', '15', '6', '14', '6', '15', '4', '6', '18', '18', '7', '6', '15', '7', '16', '18', '15', '18', '7', '6', '6', '16', '15', '18', '18', '18', '7', '7', '7', '15', '15', '6', '16', '7', '6', '7', '15', '15', '6', '7', '15', '6', '7', '7', '7', '6', '15', '18', '15', '15', '18', '6', '15', '7', '7', '7', '15', '15', '15', '15', '7', '7', '18', '15', '15', '15', '6', '6', '15', '15', '7', '7', '6', '15', '15', '15', '18', '6', '15', '15', '15', '16', '15', '15', '7', '6', '18', '18', '9', '9', '18', '9', '18', '18', '19', '19', '9', '19', '19', '19', '9', '9', '9', '19', '19', '19', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '16', '9', '9', '9', '9', '9', '9', '19', '19', '19', '19', '19', '19', '19', '19', '19', '8', '19', '9', '9', '9', '19', '9', '9', '9', '9', '19', '19', '19', '19', '9', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '17', '19', '19', '19', '19', '19', '19', '19', '19', '19', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '9', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '16', '2', '15', '9', '2', '4', '19', '19', '18', '12', '18', '15', '2', '9', '6', '17', '14', '19', '9', '18', '7', '5', '14', '17', '18', '17', '17', '18', '9', '19', '19', '18', '9', '14', '5', '7', '17', '9', '19', '15', '19', '19', '18', '12', '12', '15', '17', '8', '16', '9', '2', '2', '19', '18', '9', '15', '16', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '17', '17', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '19', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '19', '20', '20', '0', '20', '20', '0', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '0', '0', '20', '20', '20', '20', '20', '20', '0', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '0', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '0', '20', '20', '20', '20', '20', '0', '0', '0', '0', '0', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '0', '0', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '0', '0', '0', '0', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '20', '1', '1', '1', '1', '1', '1', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '1', '1', '1', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '1', '1', '1', '20', '1', '1', '1', '1', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '1', '1', '21', '21', '21', '1', '1', '1', '1', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '1', '1', '1', '21', '21', '21', '21', '1', '1', '1', '21', '1', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '1', '1', '1', '1', '21', '21', '21', '21', '21', '21', '21', '21', '1', '1', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '21', '2', '2', '2', '2', '21', '2', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '2', '2', '22', '22', '22', '22', '22', '22', '22', '22', '2', '2', '2', '2', '2', '2', '2', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '2', '21', '20', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '2', '2', '2', '2', '2', '2', '2', '2', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '2', '2', '2', '2', '2', '2', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '22', '2', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '21', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '0', '22', '22', '22', '21', '22', '22', '22', '22', '22', '22', '22', '22', '2', '2', '2', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22', '22']",
      dtype='<U10592')

In [328]:
for i in range(len(years)):
    if(years[i]!="'" and years[i]!=","):
        y[i]=years[i:i+1]

In [ ]:
df = EV_Stations
X = df['ID'].values
df.head()
y = years
X=X.reshape(1, -1)